@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #eceef1;
  margin-bottom: 150px;
}
h1 {
  padding-top: 50px;
  font-size: 40px;
  cursor: pointer;
  color: #7e7d7d;
}
header {
  cursor: pointer;
  padding-bottom: 20px;
  color: #464545;
}
img {
  height: 20px;
}
span {
  font-size: larger;
  padding-right: 6px;
}
form {
  border: 1px solid #c7c7c7;
  /* or height: 640px; */
  height: fit-content;
  width: 380px;
  background-color: white;
  border-radius: 3px;
  margin: auto;
  /* to be centered */
}

fieldset {
  border: none;
}
label {
  display: block;
  text-align: left;
  margin: 17px auto 10px 13px;
}
input {
  display: block;
  /* cause input is an inline element */
  width: 320px;
  height: 30px;
  margin: auto;
  /* to be centered */
  border-radius: 5px;
  border: 1px solid #c7c7c7;
}
input:focus {
  outline: none;
  border-color: cornflowerblue;
  box-shadow: 0px 0px 10px 2px cornflowerblue;
}
#phone-text {
  font-size: small;
}
small {
  font-size: 14px;
  color: #464545;
  margin: 10px;
}
button {
  background-color: #1776c6;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 17px;
  margin-bottom: 2px;

  height: 45px;
  width: 325px;
  /* or */
  /* padding-left: 112px;
    padding-right: 106px; */
  font-size: 16px;
}
i {
  padding-right: 5px;
}
.account-data {
  font-style: italic;
  font-size: 13px;
  color: #464545;
  margin: 20px;
}
.last-section {
  background-color: #e6e7e9;
  padding-top: 0px;
  margin-bottom: 0;
  padding: 6px 28px 6px 28px;
  font-size: 13px;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
  /* so as to be in one line */
  padding: 10px;
  text-decoration: none;
}
li > a {
  color: black;
}
a {
  color: #1776c6;
}
li:hover {
  text-decoration: underline;
}
footer {
  font-size: small;
}
